.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
  overflow-y: scroll;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

h4 {
  margin: 0;
  padding: 0;
}

.cross {
  width: 18px;
  cursor: pointer;
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.remove {
  cursor: pointer;

}
